html {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: ". main .";
}

body {
    grid-area: main;
    justify-self: center;
    font-family: system-ui;
    font-size: 18pt;
    width: 70%
}

a {
    text-decoration: underline;
    text-decoration-skip-ink: auto; /* Pula sublinha debaixo da baseline :D */
    text-decoration-style: wavy; /* dotted tambÃ©m fica bom */

    color: #0D77FA;
}

h1:first-child, h2:first-child, h3:first-child {
    margin-top: 20px;
}

h1, h2, h3 {
    margin-top: 4rem;
}

.sensor-data {
    font-weight: bold;
}

.sensor-label {
}

h2, h3, h4 {
    text-align: center;
}

.on-btn, .off-btn {
    display: inline-block;
    border-radius: 10px;
    box-shadow: inset -1px -3px 0px 0px rgba(0,0,0, 0.2);
    padding: 5px 15px;
}

.on-btn {
    background-color: #17FF50;
    color: white;
}

.off-btn {
    background-color: #FF1829;
    color: white;
}

.water-now-div {
    display: grid;
}



button, input[type="submit"] {
    border-color: white;
    
    border-radius: 10px;
    box-shadow: inset -1px -1px 0px 0px rgba(0,0,0, 0.2);
    padding: 10px 15px;
    
}

button#water-now-btn {
    font-size: 16pt;
    justify-self: center;     
    width: 20rem;
}

div.logs {
    grid-column: 1/-1; 
    font-size: 14pt;    
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    width: 100%;
    border-radius: 10px;
    
    padding: 20px 0px;
    p {
        padding: 0;
        margin: 0px;
        margin-botton: 10px;
    }
    
    p > span.timestamp {
        color: rgba(0,0,0,0.7);
    }
    
    p > span.timestamp::after {
        content: "» ";
    }
}

.configs {
}

.configs > form {
    display: grid;
    width: auto;
    grid-gap: 0.3em 0.6em;
    justify-content: left;
    grid-template: "labels inputs span-units";
    grid-template-columns: auto auto 4rem;
  
    justify-self:   left;
    
    label {
        grid-column: labels;
        width: auto;
    }
    
    label::after {
        content: ": ";
    }
    
    hr {
        grid-column: 1/4;
	display: block;
	
        border: none;
        border-bottom: 1px black dotted;
        width: 100%
    }
    
    
    input {
        grid-column: inputs;
        justify-self: start;
        width: auto;      
    }
    
    input[type="submit"] {
        grid-column: 1/4;
        grid-row-start: 12;
        justify-self: flex-end;
    }

    button {
        grid-column: 1/4;    
        grid-row-start: 12;
        justify-self: flex-start;

    }
    
    span {
        grid-column: span-units;
        justify-content: left;
        width: auto;
    }
}

table.watering-table {
    width: 100%;
    text-align: center;
    
    
    border-spacing: 10px 20px;
    
        background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    
    tr {
        border-radius: 10px;
    }
    


}

@media (max-width: 900px) {
    html {
        widith: 100%;
        column-gap: 14px;
    }
    
    body {
        width: 100%;
        font-size: 16pt;
    }
    
    .configs > form {
        
        grid-gap: 0.3em 0.6em;
        justify-content: stretch;
            grid-template: "a b";
        grid-template-columns: auto 4rem;
        
        justify-self: stretch;
        
     
    
        label {
            grid-column: 1/3;
            justify-self: stretch;
        }

        hr {
            grid-column: 1/3;
        }


        input {
            grid-column: 1/2;
            justify-self: stretch;
        }
        
        input[type="checkbox"] {

            justify-self: left;

        }   
        
        span {
            grid-column: 2/3;
            justify-self: stretch;
        }

        input[type="submit"] {
            grid-column: 1/3;
            grid-row-start: 18;
            justify-self: flex-end;
        }

        button {
            grid-column: 1/3;    
            grid-row-start: 18;
            justify-self: flex-start;

        }
      
    }
}





















